body {
  font-family: Raleway;
  background-color: #202125;
  overflow: hidden;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  scrollbar-color: #202125 #e0e0e0;
  scrollbar-width: thin;
}

*::-webkit-scrollbar {
  width: 6px;
}
*::-webkit-scrollbar-track {
  background-color: #e0e0e0;
}

*::-webkit-scrollbar-thumb {
  background-color: #202125;
  border: 1px solid #e0e0e0;
}

.heading {
  text-align: center;
  font-size: 2em;
  letter-spacing: 1px;
  padding: 40px;
  color: white;
}

.gallery-image {
  overflow-y: auto;
  padding: 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  max-height: 95vh;
}

.gallery-image img {
  height: 250px;
  width: 350px;
  transform: scale(1);
  transition: transform 0.4s ease;
}

.img-box {
  box-sizing: content-box;
  margin: 10px;
  height: 250px;
  width: 350px;
  overflow: hidden;
  display: inline-block;
  color: white;
  position: relative;
  background-image: url("./media/loading.gif");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  -webkit-box-shadow: 0px 0px 4px 2px rgba(114, 114, 114, 0.5);
  box-shadow: 0px 0px 4px 2px rgba(114, 114, 114, 0.5);
  border-radius: 3px;
}

.caption {
  position: absolute;
  bottom: 5px;
  left: 20px;
  opacity: 0;
  transition: transform 0.3s ease, opacity 0.3s ease;
}

.transparent-box {
  height: 250px;
  width: 350px;
  background-color: rgba(0, 0, 0, 0);
  position: absolute;
  top: 0;
  left: 0;
  transition: background-color 0.3s ease;
}

.img-box:hover img {
  transform: scale(1.1);
}

.img-box:hover .transparent-box {
  background-color: rgba(0, 0, 0, 0.5);
}

.img-box:hover .caption {
  transform: translateY(-20px);
  opacity: 1;
}

.img-box:hover {
  cursor: pointer;
}

.caption > p:nth-child(2) {
  font-size: 0.8em;
}

.opacity-low {
  opacity: 0.5;
}

.opacity-low a {
  color: white;
}

.gif-id {
  padding: 4px;
  background-color: #202125;
  -webkit-box-shadow: 0px 0px 4px 2px rgba(114, 114, 114, 0.5);
  box-shadow: 0px 0px 4px 2px rgba(114, 114, 114, 0.5);
  border-radius: 0px 0px 10px 0px;
}

.custom-flex {
  display: flex !important;
}

.custom-navbar {
  z-index: 1;
  position: fixed;
}

.gallery-image {
  margin-top: 50px;
}

@media (max-width: 768px) {
  .custom-flex {
    display: block !important;
  }
}

.gif-loading {
  border-color: orange;
  -webkit-box-shadow: 0px 0px 4px 1px orange;
  box-shadow: 0px 0px 4px 1px orange;
}

.gif-success {
  border-color: darkgreen;
  -webkit-box-shadow: 0px 0px 4px 1px darkgreen;
  box-shadow: 0px 0px 4px 1px darkgreen;
}

.gif-error {
  border-color: darkred;
  -webkit-box-shadow: 0px 0px 4px 4px darkred;
  box-shadow: 0px 0px 4px 4px darkred;
}
